@import '../../styles/base/variables.scss';

.side-nav {
    position: relative;
    margin-top: 1em;

    .nav-item {
        margin: 0.5em;
        cursor: pointer;
        user-select: none;

        i {
            font-size: 16px;
        }

        label {
            font-size: 0.7em;
            font-weight: 300;
            margin: 0;
            margin-top: 0.2em;
        }
    }
}

.side-panel {
    background-color: darken($app-background-color, 2%);

    display: block;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 50px;
    
    h2 {
        margin: 0.25em 0 0.5em 0;
        font-weight: 200;
        text-transform: capitalize;
    }

    button {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #2196F3;
        color: #FEFEFE;
        border: 1px solid #44444466;

        &:hover {
            border: 1px solid #FEFEFE;
        }
    }

    .panel-run {
        padding: 0.5em;
        padding-bottom: 1em;
    }

    .panel-share {
        padding: 0.5em;
        padding-bottom: 1em;
        div {
            margin-bottom: 1em;
        }
    }
}