@import '../../styles/base/variables.scss';

.side-panel {
    background-color: darken($app-background-color, 2%);

    display: block;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 50px;
    
    h2 {
        margin: 0.25em 0 0.5em 0;
        font-weight: 200;
        text-transform: capitalize;
    }

    input {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    button {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #2196F3;
        color: #FEFEFE;
        border: 1px solid #44444466;

        &:hover {
            border: 1px solid #FEFEFE;
        }
    }

    .panel-files {
        padding: 1em;
    }

    .panel-run {
        padding: 0.5em;
        padding-bottom: 1em;
    }

    .panel-share {
        padding: 0.5em;
        padding-bottom: 1em;
        div {
            margin-bottom: 1em;
        }
    }
}