
// https://leaverou.github.io/css3patterns/
.node-graph {
    position:fixed;
    padding:0;
    margin:0;
}

.graph-background {
  position:fixed;
  top:60px;
  left:60px;

  width: 100%;
  height: 100%;
}

.blueprint-grid {
    background-color: #fff;
    background-image: linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.blueprint-dots {
  background-image: radial-gradient(#aaaaaa 10%, #eeeeee 12%);
  background-position: 10px 10px;
  background-size: 10px 10px;
}

.node-links {
  position: absolute;
  pointer-events: none;
}

.node {
  position: absolute;
  font-family: Helvetica;
  background-color: $node-color;
  color: $node-text-color;
  
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px; 
  box-shadow: $box-shadow-0;

  .node_title {
    cursor: move;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 20px;

    background-color: $node-header-color;
    color: $node-header-text-color;
    border-style: solid;
    border-bottom-color: $grey-border-color;
    border-width: 0px 0px 1px 0px;
    text-align: center;
    vertical-align: middle;
  }

  .node_io {
    padding: 10px;
    font-size: 12px;

    border-style: solid;
    border-bottom-color: $grey-border-color;
    border-width: 0px 0px 1px 0px;
  }

  .node_io-item {
    margin-bottom: 6px;

    &:last-child {
        margin-bottom: 0px;
    }
  } 

  .node_io-point {
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border-style: solid;
    border-bottom-color: $grey-border-color;
    border-width: 1px;
  }

  .node_io-text {
    margin-left: 6px;
    margin-right: 6px;
  }

  .node_output {
    text-align: right;
  }

  .node_props {
    width: 100%;
    padding: 0.6em;
    text-align: right;
    background-color: $node-canvas-bg-color;
    border-style: solid;
    border-bottom-color: $grey-border-color;
    border-width: 0px 0px 1px 0px;
    
    input {
      width: 100%;
      font-size: 0.75em;
    }

    label {
      font-size: 0.9em;
    }

    button {
      font-size: 0.75em;
      background-color: $white;
      border-radius: 0.5em;
      padding: 0.5em;
    }
  }

  .node_image {
    padding: 10px;
    background-color: $node-canvas-bg-color;
  }
}