
.header {
	position:fixed;
	left: 0;
	right: 0;
	height: 60px;
	padding: 16px;
	text-align: center;
	box-shadow: rgba(51, 61, 78, 0.2) 0px 1px 2px 0px;
	z-index: 2;

	h2 {
		margin: 0 0 0 0;
	}
}

.sidenav {
	font-family: Helvetica;

    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
	width: 60px;
	padding-top: 20px;
	background-color: $light-grey;
	z-index: 1;
	box-shadow: $box-shadow-0;

	.sidenav-item {
		position: relative;
		cursor: pointer;
		text-align: center;
		padding: 10px 0;
		
		.sidenav-icon {
			width: 40px;
			transform: translate(10px, 0px);
			transition: 0.2s;

			i {
				color: #444444;
				transition: 0.2s;
			}

			&:hover {
				transform: translate(15px, 0px);

				i {
					filter: drop-shadow(-3px 2px 4px rgba(51,61,78,.2));
				}
			}
		}

		label {
			position: relative;
			top: -6px;
			font-size: 9px;
			color: $dark-grey;
		}
	}
}

.main-view {
	height: 100%;
	width: 100%;
}
