
// Color Palette
$black: #222222;
$blue: #013874;
$light-blue: #7D99C7;
$white: #FFFFFF;
$dark-grey: #6C6C6C;
$grey: #C5C5C5;
$light-grey: #E7E7E7;
$green: #019C47;
$red: #C22A27;

// Border Colors
$grey-border-color: #B7B7B7;

// Text
$text-color: $black;

// Node Colors
$node-color: #fefefe;
$node-text-color: #222222;
$node-header-color: #2196F3;
$node-header-text-color: #ffffff;
$node-canvas-bg-color: #e6e6e6;

// Z-Index
$z-active:100;

// Box Shadow
$box-shadow-0: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
$box-shadow-1: 0 4px 5px -2px rgba(0,0,0,.1), 0 7px 10px 1px rgba(0,0,0,.07), 0 2px 16px 1px rgba(0,0,0,.06)
