
dosma==0.1.2
fastapi==0.89.1
gdown==4.6.0
ipywidgets==8.0.4
jsonpickle==3.0.1
jupyterlab==3.5.3
matplotlib==3.6.3
mirtorch @ git+https://github.com/michaelmendoza/MIRTorch@a247d484b6da59cbe81db5e8fa05eebbe6d549c7
numpy==1.23.5
pdf2image==1.16.2
pydantic==1.10.4
pydicom==2.0.0
pyMapVBVD==0.5.2
pymongo==4.3.3
python-socketio==5.7.2
pytorch-wavelets @ git+https://github.com/fbcotter/pytorch_wavelets.git@9a0c507f04f43c5397e384bb6be8340169b2fd9a
scikit-image==0.19.3
scipy==1.10.0
tensorflow==2.9.0
torch==1.12.0
torchkbnufft==1.4.0
torchvision==0.13.0
tqdm==4.64.1
uvicorn==0.17.6
websockets==10.4