@import '../../styles/base/variables.scss';

.file-browser {
    background-color: darken($app-background-color, 2%);
    text-align: left;
    height: 100%;

    label {
        font-weight: 300;
    }
    
    .file-browser-list {
        max-height: 50vh;
        overflow-y: auto;
    }
}