@import '../../styles/base/variables.scss';

.file-naming-modal {

    button {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #2196F3;
        color: #FEFEFE;
        border: 1px solid #44444466;

        &:hover {
            border: 1px solid #FEFEFE;
        }
    }

    .text-input {
        color: #FEFEFE;

        input {
            color: #FEFEFE;
        }
    }
}

// .file-naming-modal {
//     position: fixed;
//     top:0;
//     bottom: 0;
//     left:0;
//     right:0;
//     z-index: 100;

//     .file-naming-backdrop {
//         position: fixed;
//         top:0;
//         bottom: 0;
//         left:0;
//         right:0;
//         z-index: 100;
//         background-color: #66666666;
//     }

//     .file-naming-container {
//         min-width: 20em;
//         min-height: 20em;
//         z-index: 101;
//         overflow: auto;
//     }

//     .file-naming-content { 
//         background-color: $modal-background;
//         border-radius: 4px;
//         padding: 2em;
//     }

//     .file-naming-header {
//         background-color: $modal-header;
//         color: $modal-color;
//         padding: 0.5em 0.5em 0.5em 1.5em;
//         text-align: left;
//         text-transform: capitalize;

//         h2 {
//             font-size: 1.25em;
//             margin: 0;
//             font-weight: 300;
//         }

//         button {
//         margin-top: 1em;
//         margin-bottom: 1em;
//         background-color: #2196F3;
//         color: #FEFEFE;
//         border: 1px solid #44444466;

//             &:hover {
//                 border: 1px solid #FEFEFE;
//             }
//         }
//     }


// }