@import '../../styles/base/variables.scss';

.file-browser-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5em 1em;
    cursor: pointer;
    
    &:hover {
        background-color: #555555;
    }

    label {
        margin: 0 0 0 1em;
        cursor: pointer;
    }
}