.links-svg {
    position: absolute;
    pointer-events: none;

    svg {
        pointer-events:none;
    }
    svg *{
        pointer-events:auto;
    }

    .link-line {
        cursor: pointer;
    }
}