@import '../../styles/base/variables.scss';

// Node Colors
$grey-border-color: #B7B7B7;
$node-color: #fefefe;
$node-text-color: #222222;
$node-header-color: #2196F3;
$node-header-text-color: #ffffff;
$node-canvas-bg-color: #e6e6e6;

.node_props {
    width: 100%;
    padding: 0.6em;
    text-align: left;
    background-color: $node-canvas-bg-color;
    border-style: solid;
    border-bottom-color: $grey-border-color;
    border-width: 0px 0px 1px 0px;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
      
    input {
        background-color: lighten($app-background-color, 80%);
        width: 100%;
        font-size: 0.75em;
    }
  
    label {
        font-size: 0.75em;
        font-weight: 200;
        text-transform: capitalize;
        margin: 0.5em 0 0.5em 0;
    }

    [type=file] {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    button {
        font-size: 0.75em;
        padding: 0.5em;
    }

    .select {
        margin-bottom: 0.5em;
    }

    .slider {
        padding-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

.file-props-options-modal {
    &.modal .modal-container {
        max-height: 80vh;
    }
    
    .file-item {
        width: 500px;
        overflow: auto;
        overflow-wrap: break-word;

        padding: 1em;
        margin-bottom: 1em;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border: 1px solid #fefefe;
        }    

        img {
            margin-right: 1em;
        }

        label {
            font-weight: 300;
            margin: 0 0 0.5em 0;
        }
    }

    .file-item::-webkit-scrollbar {
        width: 8px;
    }
    
    .file-item::-webkit-scrollbar-track {
        background-color: #222222;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    .file-item::-webkit-scrollbar-thumb {
        background-color: #B7B7B7;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        border-radius: 10px;
    }
}

