@import '../../styles/base/variables.scss';

// Node Colors
$grey-border-color: #B7B7B7;
$node-color: #fefefe;
$node-text-color: #222222;
$node-header-color: #2196F3;
$node-header-text-color: #ffffff;
$node-canvas-bg-color: #e6e6e6;

.node {
    position: absolute;
    font-family: Helvetica;
    background-color: $node-color;
    color: $node-text-color;
    transform: scale(0.75);
    transform-origin: top left;

    width: 200px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px; 
    box-shadow: $box-shadow;
  
    .node_title {
      cursor: move;
      width: 100%;
      height: 40px;
      padding: 10px;
      font-size: 20px;
  
      background-color: $node-header-color;
      color: $node-header-text-color;
      border-style: solid;
      border-bottom-color: $grey-border-color;
      border-width: 0px 0px 1px 0px;
      text-align: center;
      vertical-align: middle;
    }
  
    .node_io {
      padding: 10px;
      font-size: 12px;
  
      border-style: solid;
      border-bottom-color: $grey-border-color;
      border-width: 0px 0px 1px 0px;
    }
  
    .node_io-item {
      margin-bottom: 6px;
  
      &:last-child {
          margin-bottom: 0px;
      }
    } 
  
    .node_io-point {
      width: 12px;
      height: 12px;
      border-radius: 100px;
      border-style: solid;
      border-bottom-color: $grey-border-color;
      border-width: 1px;
    }
  
    .node_io-text {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .node_output {
      text-align: right;
    }
  
    .node_props {
      width: 100%;
      padding: 0.6em;
      text-align: right;
      background-color: $node-canvas-bg-color;
      border-style: solid;
      border-bottom-color: $grey-border-color;
      border-width: 0px 0px 1px 0px;
      
      input {
        width: 100%;
        font-size: 0.75em;
      }
  
      label {
        font-size: 0.9em;
      }
  
      button {
        font-size: 0.75em;
        background-color: $white;
        border-radius: 0.5em;
        padding: 0.5em;
      }
    }
  
    .node_image {
      padding: 10px;
      background-color: $node-canvas-bg-color;
    }
  }