@import '../../styles/base/variables.scss';

.item-explorer {
    padding: 0.5em;

    input {
        color: #AAAAAA;
    }

    .search {
        padding: 0.5em 0.5em;
    }

    .items-list {
        max-height: 52.5vh;
        overflow: auto;
    }
}

.explorer-item-view {
    background-color: darken($app-background-color, 4%);

    margin: 0.5em;
    padding: 0.5em;
    text-align: left;
    text-transform: capitalize;

    &.project-item {
        cursor: pointer;
        label { cursor: pointer; }
    }

    &.plugin-item {
        cursor: grab;
        label { cursor: pointer; }
    }

    img {
        width: 36px;
    }

    h4 {
        margin: 0;
        margin-bottom: 0.5em;
        font-size: 1.0em;
        font-weight: 400;
        font-size: 0.90em;
    }

    label {
        margin: 0;
        font-weight: 200;
        font-size: 0.75em;
    }
    
    .description {
        margin-left: 0.5em;
    }
}