@import '../../styles/base/variables.scss';

.console {
    height: 100px;
    text-align: left;

    .tabs-header {
        font-size: 0.6em;
        font-weight: 400;
        justify-content: flex-start;
        border-bottom: 1px solid lighten($app-background-color, 20%);

        button {
            color: #AAAAAA;
        }
    }

    .tabs-content {
        padding-right: 0.5em;
    }
}

.console-view {
    font-weight: 200;
    font-size: 0.6em;
    padding-right: 0.5em;

    height: 50px;
    overflow-y: auto;

    .console-log-item {
        width: 100%;
        height: 1.25em;
        overflow: hidden;
        margin-bottom: 0.25em;
    }
}

.console-view::-webkit-scrollbar {
    width: 8px;
}

.console-view::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.console-view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.terminal-console {
    .terminal-prompt-symbol {
        margin-right: 0.25em;
    }
}

.terminal-output {
    color: #EEEEEE;
}

.terminal-input {
    color: #FEFEFE;
    font-weight: 400;
    
    input { 
        flex: 1;
        border: 0;
        outline: none;
        padding: 0;
        box-sizing: border-box;
        background-color: transparent;
        color: #FEFEFE;
    }
}