@import '../../styles/base/variables.scss';

.select {
    min-width: 100px;
    position: relative;

    .select-button {
        background-color: lighten($app-background-color, 10%);
        color: #FEFEFE;
        width: 100%;
        margin: 0;

        &:hover, &.show {
            background-color: lighten($app-background-color, 20%);
        }
    }
    
    .select-options {
        background-color: lighten($app-background-color, 10%);
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .select-option {
        width: 100%;
        color: #FEFEFE;
        border: 1px solid transparent;
        border-bottom: 1px solid #FEFEFE22;
        border-radius: 0;

        &:hover {
            color: #FFFFFF;
            background-color: lighten($app-background-color, 20%);
        }
    }
}