.table {
    border: 1px solid #55555555;
    text-align: left;

    .table-header {
        border-bottom: 1px solid #55555555;
        background: #e3e1e155;
        
        .table-header-cell {
            box-sizing: border-box; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1em 1em;        }
    }
    .table-row {
        border-bottom: 1px solid #55555555;

        &:last-of-type { border-bottom: none; }

        .table-row-cell {
            box-sizing: border-box; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1em 1em;     
            
            button, .button-accent {
                margin: 0;
                width: 100%;
                text-align: center;
                font-size: 0.9em;
                padding: 0.75rem;
            }
        }
    }
}