
.text-align-center {
    text-align: center;
  }
  
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.error-message {
  color: #dd3232;
}

.success-message {
  color: #53c084;
}