
// Box Shadow
$box-shadow: 0 0 0 1px rgba(8,9,10,0.1);

// Media query sizes
$media-XL: 1920px; // 1080 p - Desktop
$media-L: 1440px; // Laptop
$media-M: 1024px; // Tablet - Landscape 
$media-S: 768px; // Tablet - Portait
$media-XS: 668px; // Phone