
// Box Shadow
$box-shadow: 0 0 0 1px rgba(8,9,10,0.1);

// Media query sizes
$media-XL: 1920px; // 1080 p - Desktop
$media-L: 1440px; // Laptop
$media-M: 1024px; // Tablet - Landscape 
$media-S: 768px; // Tablet - Portait
$media-XS: 668px; // Phone

// Color Palette
$black: #222222;
$lighter-black: #444444;
$blue: #013874;
$light-blue: #7D99C7;
$white: #FFFFFF;
$dark-grey: #6C6C6C;
$grey: #C5C5C5;
$light-grey: #E7E7E7;
$green: #019C47;
$red: #C22A27;

// App Colors
$app-background-color:#282c34;
$app-accent-color:#2196F3;

// Modal Colors 
$modal-background: #282c34;
$modal-color: #FEFEFE;
$modal-header: #2196F3;
$modal-error: #f3217c;