
.node-inspector {
    width: 150px;
    font-size: 0.8em;
    text-align: left;
    color: #AAAAAA;

    label {
        font-size: 1.2em;
        text-transform: capitalize;
        color: #DDDDDD;
    }
}